html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
html {
  background-image: url('./images/chalkboard.jpeg');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  background-image: url('./images/chalkboard.jpeg');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
  text-shadow: 4px 2px 2px rgba(150, 150, 150, 0.82);
}

.background1 {
  background-image: url('./images/chalkboard1.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
 .background2 {
  background-image: url('./images/chalkboard2.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
 .background3 {
  background-image: url('./images/chalkboard3.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
 .background4 {
  background-image: url('./images/chalkboard4.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
.background5 {
  background-image: url('./images/chalkboard5.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
.background6 {
  background-image: url('./images/chalkboard6.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
.background7 {
  background-image: url('./images/chalkboard7.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
.background8 {
  background-image: url('./images/chalkboard8.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
.background9 {
  background-image: url('./images/chalkboard9.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
.background10 {
  background-image: url('./images/chalkboard10.png');
  background-position: bottom right;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 0px;
}
.title {
  margin: 1% auto;
  position: relative;
  width: 75%;
  text-align: center;
}
.white-font-large {
  font-size: 60px;
  font-family: 'Bangers', 'sans-serif';
  color:white;
}
#wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hangman-wrapper {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 90%;
  padding-top: 20px;
}
.guessed, .wrong, .right {
  opacity: 1;
  width: 25%;
  height: 70%;
}
.input-wrapper {
  width: 100%;
  opacity: 1;
  height: 20%;
  display: flex;
  justify-content: center;
}
.guessed {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.wrong, .right {
  width: 45%;
  height: 100%;
  padding: 20px;
}
.right {
  display: flex;
  flex-direction: column;
}
.letter {
  margin-left: 10px;
  height: 60px;
  width: 40px;
}
.unguessed {
  border-bottom: 3px solid white;
  height: 10px;
  width: 35px;
  margin-left: 10px;
}
.letter-holder, .unguessed-holder {
  display: flex;
  flex-direction: row;
}
.disappear {
  opacity: 0;
}
input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 75%;
  height: 100%;
  text-shadow: 4px 2px 2px rgba(150, 150, 150, 0.82);
}
input::-webkit-input-placeholder {
  color: white;
  font-family: 'Bangers', 'sans-serif';
  text-shadow: 4px 2px 2px rgba(150, 150, 150, 0.82);
}
.guesses:focus {
  outline:none;
}
